<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <ul>
        <li> <%= link_to 'Task Management', tasks_path %></li>
        <li> <%= link_to 'Micropost', user_path(current_user) %></li>
      </ul>
    </aside>
    <div class="col-sm-8">
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to My Website</h1>
      <p>If you are a new user, then <%= link_to 'signup' , signup_path %></p>
      <p>If you already registered, then <%= link_to 'login' , login_path %></p>
    </div>
  </div>
<% end %>